/****** ABOUT ********/
#aboutContent
{
    font-family: 'Abel', sans-serif;
    color: black;
}
.aboutLink
{
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    color: #ffcc00;
}
#aboutImg
{
    width: 100%;
}

@media only screen and (min-width : 801px) {

    div#aboutImgDiv
    {
        width: 40%;
        margin-top: 5%;
        display: inline-block;

    }

    div#aboutContentDiv
    {
        width: 50%;
        padding-left: 5%;
        display: inline-block;
    }

}

@media only screen and (max-width : 800px) {

    div#aboutImgDiv
    {
        width: 80%;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        display: inline-block;

    }

    div#aboutContentDiv
    {
        width: 100%;
        display: inline-block;
    }

}
