img.projectImg
{
    width: 80%;
    /*margin-left: 10%;
    margin-right: 10%;*/
}

iframe.projectVideo
{
    width: 100%;
    height: 56%;


}
div.vimeoVideo
{
    width: 80%;
    /*margin-left: 10%;
    margin-right: 10%;*/
}
p
{
    font-family: 'Abel', sans-serif;
    font-size: 1.3rem;
}
p.blurb
{
    font-family: 'Abel', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
}
h2
{
    font-family: 'Lato', sans-serif;
    font-size: 2.2rem;
}
h3
{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}
h4
{
    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}


/*** RESPONSIVE ***/
@media only screen and (max-width : 480px) {
  img.projectImg
  {
      width: 100%;
      /*margin-left: 10%;
      margin-right: 10%;*/
  }

  div.vimeoVideo
  {
      width: 100%;
      /*margin-left: 10%;
      margin-right: 10%;*/
  }

}
