html
{
    overflow-y: scroll;
}
body
{
  margin: 0;
	background-color: #CCCCCC;
}

html, body, div.container {
  height: 100%;
}

nav.menuBar
{
  width: 100%;
  height: 4em;
	background-color: #2EC19C;
	opacity: 0.8;
	position: fixed;
  z-index: 9999;
}

nav.menuBar li {
  display: inline;
  line-height: 4em;
  padding: 0 3em;
}

nav.menuBar li.right {
  float: right;
}

div.container
{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	background-image: url('images/skulls.png');
	background-repeat: repeat;
  padding: 10% 0;
}

div#home {
  text-align: center;
}

div#about {
  position: relative;
}

div.about-container
{
	display: inline-block;
  padding: 2em;
  margin: 2em;

	border-radius: 15px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	background-color: #2EC19C;
	opacity: 0.9;
}

div.about-container li {
  list-style: none;
  margin: 1em 0;
}

div.blank-container
{
	display: inline-table;
	opacity: 0;
}

div.display-box
{
	background-color: #ececec;
	display: inline;
	margin: auto;
	left: 0;
	right: 0;
  height: 100%;
}

div.dots-all
{
	display: inline-relative;
	margin: 0 auto;
	text-align: center;
}
div.container-box
{
	height: 100%;
  text-align: center;
}

div.container-header
{
	display: inline-relative;
	margin: 0 auto;
}
div.contact-container
{
  position: absolute;
  bottom: 0;
  left: 0;
	width: 100%;
  text-align: center;
  padding: 1em;
	background-color: #2EC19C;
	opacity: 0.8;
}

a.menuBar-title
{
	display: inline-block;
	vertical-align: text-bottom;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	/*font-size: 20px;*/
	font-size: 130%;
	text-decoration: none;
	color: #eeeeee;
}

a.menuBar-doc
{
	display: inline-block;
	vertical-align: text-bottom;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	/*font-size: 20px;*/
	font-size: 130%;
	text-decoration: none;
	color: #eeeeee;
}

a.menuBar-space
{
	display: inline-block;
}

a.footbar
{
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	/*font-size: 20px;*/
	font-size: 130%;
	color: #eeeeee;
	text-decoration: none;
}

a.link-pages
{
	display: inline-relative;
	text-align: left;
	font-family: Impact, Charcoal, sans-serif;
	/*font-size: 20px;*/
	font-size: 130%;
	text-decoration: none;
	color: #888888;
}

a:hover
{
	color: #333333;
}

span.content
{
	font-family: Impact, Charcoal, sans-serif;
	/*font-size: 30px;*/
	font-size:250%;
	color: #333333;
}

a.content-all
{
	font-family: Impact, Charcoal, sans-serif;
	/*font-size: 25px;*/
	font-size:170%;
	color: #ffffff;
}

p
{
	font-size: 120%;
	font-family: Impact, Charcoal, sans-serif;
	color: #888888;
}
p.name
{
	font-size: 350%;
	color: #666666;
}

img.arrow
{
	width: 5%;
	height: 50%;
	display: inline-block;
	margin: auto;
	left: 0;
	right: 0;
	opacity: 0.6;
  vertical-align: middle;
}

img.arrow:hover
{
	opacity: 1;
	cursor: pointer;
}

img.images
{
  max-width: 60%;
	border-radius: 15px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

img.personal-image
{
	width: 15%;
  border-radius: 50%;
  border: 6px solid white;
}

ul
{
	display: inline;
	margin: 0 auto;
}
li.dot
{
	display: inline-block;
	list-style-type:none;
	background: #444444;
	height: 15px;
	width: 15px;
	border-radius: 15px;
	margin: 10 5px;
	text-align: center;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

}
