@font-face
{
	font-family:"CoverFont";
	src: url(fonts/AllerDisplay.ttf);
}

html
{
    overflow-y: scroll;
}
body
{
  background-color: #CCCCCC;
  margin: 0 0;
}

html, body {
  height: 100%;
}


nav.menuBar
{
  width: 100%;
  height: 4em;
	background-color: #111111;
	opacity: 0.8;
	position: fixed;
  z-index: 9999;
}

nav.menuBar li {
  display: inline;
  line-height: 4em;
  padding: 0 3em;
}

nav.menuBar li.right {
  float: right;
  position:relative;
}

img.image-dropdown
{
  height: 80%;
  padding-top: 10%;
  padding-right: 10%;
  display: none;
}

div.container
{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	background-image: url('images/skulls.png');
	background-repeat: repeat;
  padding: 10% 0;
}

div#home {
  text-align: center;
}

div#about {
  position: relative;
  height: auto;
}

div.about-container
{
	display: inline-block;
  padding: 1em;
  margin: 2em;
  width: 250px;
  	border-radius: 15px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	background-color: #111111;/*#2EC19C;*/
	opacity: 0.9;
}

div.about-container li {
  list-style: none;
  margin: 1em 0;
}

div.blank-container
{
	display: inline-table;
	opacity: 0;
}

div.display-box
{
	background-color: #ececec;
	display: inline;
	margin: auto;
	left: 0;
	right: 0;
  height: 100%;

}

div.display-box-text
{
	margin: auto;
	width: 100%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #555555;
}

div.display-box-header
{
	/*font-size: 140%;*/
	font-size: 30px;
	color: #111111;/*#2EC19C;*/
	font-family:"CoverFont";
}

div.dots-all
{
	display: inline-relative;
	margin: 0 auto;
	text-align: center;
}
div.container-box
{
	/*height: 100%;*/
  text-align: center;
}

div#about div.container-box
{
	height: auto;
  text-align: center;
}

div.container-header
{
	display: inline-relative;
	margin: 0 auto;
}
div.contact-container
{
  position: absolute;
  bottom: 0;
  left: 0;
	width: 100%;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;

	background-color: #111111;/*#2EC19C;*/
	opacity: 0.8;
}

a.menuBar-title
{
	display: inline-block;
	vertical-align: text-bottom;
	text-align: center;
	font-family:"CoverFont";
	font-size: 20px;
	/*font-size: 130%;*/
	text-decoration: none;
	color: #eeeeee;
}

a.menuBar-doc
{
	display: inline-block;
	vertical-align: text-bottom;
	text-align: center;
	font-family:"CoverFont";
	font-size: 20px;
	/*font-size: 130%;*/
	text-decoration: none;
	color: #eeeeee;
}

	nav li ul
	{
		display: none;
	}

.dropdown-toggle

{
	display: none;
	float: right;
  position: absolute;
  top: 56px;
  right: 0;
}

a.dropdown-options
{
	display: inline-block;
	float: left;
}

@media screen and (max-width: 1064px)
{
	a.menuBar-title-collapse
	{
		display: none;
	}
	a.menuBar-doc-collapse
	{
		display: none;
	}

  img.image-dropdown
  {
    display: inline-block;
  }

  div.dropdown-toggle
	{
		display: inline-block;
	}

	nav li:hover ul
	{
		display: inline-block;
		padding: 0;
		background-color:#111111;/*#2EC19C;*/
		width: 200px;
	}

	nav li:hover ul li
	{
		display: inline-block;
		float: left;
	}

}

a.menuBar-space
{
	display: inline-block;
}

a.footbar
{
	text-align: center;
	font-family:"CoverFont";
	/*font-size: 20px;*/
	font-size: 130%;
	color: #eeeeee;
	text-decoration: none;
}

a.link-pages
{
	display: inline-relative;
	text-align: left;
	font-family:"CoverFont";
	font-size: 20px;
	/*font-size: 130%;*/
	text-decoration: none;
	color: #888888;
}

a:hover
{
	color: #2EC19C;
}

span.content
{
	font-family:"CoverFont";
	font-size: 30px;
	/*font-size:250%;*/
	color: #555555;
}

a.content-all
{
	font-family:'Montserrat', sans-serif;
	font-size: 20px;
	/*font-size:150%;*/
	color: #ffffff;
}

p
{
	font-size: 22px;
	/*font-size: 120%;*/
	font-family:"CoverFont";
	color: #555555;
}
p.name
{
	font-size: 50px;
	/*font-size: 350%;*/
	color: #111111;
}

img.arrow
{
	width: 10%;
	/*height: 50%;*/
	display: inline-block;
	margin: auto;
	left: 0;
	right: 0;
	opacity: 0.6;
  vertical-align: middle;
}

img.arrow:hover
{
	opacity: 1;
	cursor: pointer;
}

img.images
{
  max-width: 60%;
	border-radius: 15px;
	 border: 6px solid #111111;/*#2EC19C;*/
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

img.personal-image
{
	width: 170px;
  border-radius: 50%;
  border: 6px solid white;
}

ul
{
	display: inline;
	margin: 0 auto;
}
li.dot
{
	display: inline-block;
	list-style-type:none;
	background: #888888;
	height: 15px;
	width: 15px;
	border-radius: 15px;
	margin: 10 5px;
	text-align: center;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

}
