@font-face
{
    font-family: titleFont;
    src: url(https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Open+Sans:300);
}
body
{
    background-color: white;

}
img.portfolioImg
{
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 15%;
    opacity: 0.6;
}
img.portfolioImg:hover
{
    opacity: 1;
}
div#header
{
    height: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
div#footer
{
    height: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
div#body
{
    margin-left: 10%;
    margin-right: 10%;
}
hr#headerLine
{
 width: 80%;
}
hr#footerLine
{
 width: 80%;
}
a.menuTitle
{
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 30%;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: black;
}
a.menuTitle:hover
{
    color:#ffcc00;
}
a.menuTitleHighlighted
{
    color:#ffcc00;
}
img.projectImg
{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

iframe.projectVideo
{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
p
{
    font-family: 'Abel', sans-serif;
}
h2
{
    font-family: 'Oswald', sans-serif;
}
h3
{
    font-family: 'Oswald', sans-serif;
}
h4
{
    font-family: 'Oswald', sans-serif;
}
l.projectTitle
{
    width: 16%;
    margin-right: 4%;
    margin-left: 4%;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    position: relative;
    color: black;
}
l.projectTitle:hover
{
    color: #ffcc00;
}
l#firstName
{
    font-family: 'Abel', sans-serif;
    color: #ffcc00;
}
l#surName
{
    font-family: 'Abel', sans-serif;
    color: black;
}
a.portfolioHeader
   {
     width: 98%;
    position: relative;
    display: inline-block;
    text-decoration: none;
   }

l#footerNotes
    {
    font-family: 'Abel', sans-serif;
    color: black;
    display: block;
    text-align: center;
    height: 90%;
    font-size: 16px;
    }   


/* THE RESPONSIVE SHIZZ */

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   a.portfolioHeader
   {
     width: 98%;
    position: relative;
    display: inline-block;
    text-decoration: none;
   }
   div#header
    {
    height: 15%;
    margin-left: 20%;
    margin-right: 20%;
    }
    a.menuTitle
    {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    height: 23%;
    width: 90%;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: black;
    }
    a.menuTitleHighlighted
    {
        color:#ffcc00;
    }
    l#firstName
    {
    font-family: 'Abel', sans-serif;
    color: #ffcc00;
    width: 40%;
    height: 30%;
    font-size: 20px;
    }
    l#surName
    {
    font-family: 'Abel', sans-serif;
    color: black;
    width: 40%;
    height: 30%;
    font-size: 20px;
    }
    
}

@media only screen and (max-width : 700px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   a.portfolioHeader
   {
     width: 48%;
    position: relative;
    display: inline-block;
    text-decoration: none;
   }
   div#header
    {
    height: 10%;
    margin-left: 20%;
    margin-right: 20%;
    }
    a.menuTitle
    {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    height: 50%;
    width: 30%;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: black;
    }
    a.menuTitleHighlighted
    {
    color:#ffcc00;
    }
    l#firstName
    {
    font-family: 'Abel', sans-serif;
    color: #ffcc00;
    width: 50%;
    height: 50%;
    font-size: 24px;
    }
    l#surName
    {
    font-family: 'Abel', sans-serif;
    color: black;
    width: 50%;
    height: 50%;
    font-size: 24px;
    }


}
    
@media only screen and (min-width : 701px) {
   /* Medium desktop: 4 tiles */
   a.portfolioHeader
   {
     width: 32%;
    position: relative;
    display: inline-block;
    text-decoration: none;
   }
   div#header
    {
    height:     5%;
    margin-left: 20%;
    margin-right: 20%;
    }
    a.menuTitle
    {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    height: 90%;
    width: 15%;
    text-decoration: none;
    display: inline-block;
    text-align: right;
    color: black;
    }
    a.menuTitleHighlighted
    {
    color:#ffcc00;
    }
    l#firstName
    {
    font-family: 'Abel', sans-serif;
    color: #ffcc00;
    width: 20%;
    height: 90%;
    font-size: 24px;
    }
    l#surName
    {
    font-family: 'Abel', sans-serif;
    color: black;
    width: 20%;
    height: 90%;
    font-size: 24px;
    }
}

/****** ABOUT ********/
#aboutContent
{
    font-family: 'Abel', sans-serif;
    color: black;
}
.aboutLink
{
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    color: #ffcc00;
}
#aboutImg
{
    width: 100%;
}

@media only screen and (min-width : 701px) {

    div#aboutImgDiv
    {
        width: 40%;
        margin-top: 5%;
        display: inline-block;
       
    }
    
    div#aboutContentDiv
    {
        width: 50%;
        padding-left: 5%;
        display: inline-block;
    }
    
}

@media only screen and (max-width : 700px) {

    div#aboutImgDiv
    {
        width: 80%;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        display: inline-block;
       
    }
    
    div#aboutContentDiv
    {
        width: 100%;
        display: inline-block;
    }
    
}
