.about__image-container {
  width: 40%;
}

.about__image {
  width: 80%;
  padding: 0 2rem;
}

.about__content {
  width: 60%;
  padding-right: 2rem;
}

.about__link {
  text-decoration: none;
  color: $primary-heading-color;
}
