.footer__list {
  display: flex;
  flex-direction: row;
  padding-left: 1.8rem;
}

.footer__item {
  width: 15%;
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding-right: 1.2rem;
}

.footer__image
{
  width: 100%;
  opacity: 0.8;
}
