%nav-option {
  text-decoration: none;
  color: $secondary-heading-color;
  font-size: 1.2rem;
  margin-right: 1.5%;
  cursor: pointer;
  font-family: $primary-font;
  font-weight: 600;
  margin: 0.3rem 0;
}

.nav__first-name
{
  color: $primary-heading-color;
  text-align: left;
  text-decoration: none;
}
.nav__sur-name
{
  font-family: $primary-font;
  color: black;
  text-decoration: none;
}
.nav__name
{
  float: left;
  font-size: 2rem;
  line-height: 2rem;
  padding: 1rem 2rem;
}

.nav__logo {
  width: 100%;
}

.nav__items-pages, .nav__items-category {
  padding: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav__link {
  @extend %nav-option;
  &:hover,&--selected {
    color: $nav-hover-color;
    text-decoration: none;
  }
}

.nav__item {
  @extend %nav-option;
  &:hover,&--selected {
    color: $nav-hover-color;
    text-decoration: none;
  }
}

.nav__category
{
  @extend %nav-option;
  &:hover,&--selected {
    color: $nav-hover-color;
  }
}
