.projects__list {
  flex-direction: column;
  margin-right: 2rem;
}

.projects__item
{
  margin-bottom: 2rem;
  width: 24.5%;
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;

}

.projects__link {
  text-decoration: none;
  &:hover {
    color: $content-hover-color;
  }
}

.projects__title
{
  width: 100%;
  margin-right: 4%;
  margin-left: 4%;
  font-family: $primary-font;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 1.2rem;
  &:hover {
    color: $content-hover-color;
  }
}
.projects__tags
{
  width: 100%;
  margin-right: 4%;
  margin-left: 4%;
  font-family: $secondary-font;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  color: $secondary-heading-color;
  font-size: 0.8rem;
}


.projects__image
{
  width: 90%;
  &:hover {
    cursor: pointer;
    cursor: hand;
  }
}
