// $nav-color: #ff706c;
$nav-color: #ffffff;
$primary-heading-color: #ff706c;
$secondary-heading-color: #aaaaaa;
$content-hover-color: #ff706c;
$nav-hover-color: #ff706c;
$nav-selected-color: #ff706c;

$primary-font: 'Playfair Display', serif;
$secondary-font: 'Josefin Slab', serif;
